table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    border-color: black;
    border: solid 1px black;
  }

  thead {
    background-color: #213547;
    color: rgb(227, 227, 227);
  }

  th, td {
    padding: 10px;
    text-align: left;
  }

  th {
    font-weight: bold;
  }

  

  tbody tr td:first-child {
    width: 10%;
  }

  tbody tr td:nth-child(2) {
    width: 50%;
  }

  tbody tr td:nth-child(3) {
    width: 40%;
  }

  .highlight {
    font-weight: bold;
    color: #FF5722;
  }